.page-title {
    color: #fce138;
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;

}

.page-title h2 {
    font-weight: normal;
    display: inline-block;
    border-bottom: 4px solid;
    padding: 0 80px 15px 80px;
    
  }

  .secondary-content {
      width: 80%;
  }

